<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Noticias</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<script type="text/javascript">
    $(document).ready(function() {
        //Todo el código jQuery va aquí
        $("#NATO").click(function() {
            this.ch
        });
    });
</script>


<body>
    <center>
        <h1>ArmA Blog</h1>
        <h3>Blog sobre la saga Armed Assault</h3>
    </center>
    <aside>
        <div id="caja">
            <form>
                Nombre de usuario: <input type="text" name="n_usuario" placeholder="Introduzca el nombre de usuario"><br /> Contraseña: <input type="password" id="c_contrasena" name="c_usuario" placeholder="Introduzca su contraseña"><br />
                <input type="submit" name="i_sesion" value="Iniciar sesión">
            </form>
        </div>
    </aside>
    <input type="button" value="NATO" id="NATO">
    <input type="button" value="CSAT" id="CSAT">
    <input type="button" value="AAF" id="AAF">
    </select>
    <footer>
        <center>Sergio Chávez - 2017</center>
    </footer>
</body>

</html>